body {
  margin: 0;

}

@media screen and (min-width: 1440px) {
  body {
    width: 1440px;
  }
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@font-face {
  font-family: 'Apercu Arabic Pro';
  src: url('./fonts/ApercuArabicPro-Regular.ttf') format('ttf'), url('./fonts/ApercuArabicPro-Regular.woff') format('woff');
  font-weight: 400;
}

/* .container {
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
  @media screen and (min-width: 480px) {
    width: 480px;
  }
  @media screen and (min-width: 768px) {
    width: 768px;
  }
  @media screen and (min-width: 1440px) {
    width: 1440px;
  }
} */