body {
  margin: 0 auto;
  background-image: url('./images/png/clouds.png');
  background-repeat: no-repeat;
  background-size: cover;
 
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@font-face {
  font-family: 'Apercu Arabic Pro';
  src: url('./fonts/ApercuArabicPro-Regular.ttf') format('ttf'), url('./fonts/ApercuArabicPro-Regular.woff') format('woff');
  font-weight: 400;
}

ul {
  list-style: none;
  margin: 0;
}

a {
  text-decoration: none;
}

input {
  display: block;
}
